{% extends "base.html" %}

{% block title %}Создание пользователя{% endblock %}

{% block content %}
<h2 class="mb-4">Создание нового пользователя</h2>
<form method="POST">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" class="form-control form-control-sm" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control form-control-sm" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" class="form-control form-control-sm" id="email" name="email" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="role_id">Роль</label>
                <select class="form-control form-control-sm" id="role_id" name="role_id" required>
                    {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="phone_number">Телефон</label>
                <input type="text" class="form-control form-control-sm" id="phone_number" name="phone_number">
            </div>
            <div class="form-group">
                <label for="department_id">Отдел</label>
                <select class="form-control form-control-sm" id="department_id" name="department_id">
                    {% for department in departments %}
                        <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mt-3">Создать пользователя</button>
</form>
{% endblock %}
